@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-batik-950 text-batik-50 antialiased;
    font-family:
      "Plus Jakarta Sans",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1f140a;
  }

  ::-webkit-scrollbar-thumb {
    background: #6e4526;
    border-radius: 9999px;
  }
}
